/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin:0;
  padding:0;
  outline:0;
}

body{
  background-color: #f8f8f8;
}
nav{
  
  display: flex;
  justify-content: flex-end;  
  height:50px;
  align-items: center;
  color:#ffffff;
  font-family: 'Poppins';
  font-weight: lighter;
}
.nav-item-active{
  border:#ffffff;
  padding:5px 15px;
  background-color: #ffffff;
  color: #5a31fc;
  margin-top: 90px;

}


.nav-item{
  padding-right: 50px;
  padding-top: 90px;
  
}


.horizontalines{
  padding-top: 90px;
  font-size: 30px;
  color: #ffffff;
 display: none;
}

@media screen and (max-width:850px) {
  .nav-item-active,.nav-item{
    display:none;
  }
  .horizontalines{
    display: inline;
    padding-right:50px ;
  }
}
 nav>svg{   
  position: relative;
   left: 20px;
   top: 5px;
 }

 .logo{
  position: relative;
  left:60px; 
}


.header-text{
  padding: 0px 30px;
 
  display: flex;
  flex-direction: column;
  height:400px;
  flex-wrap: wrap; 
  font-size: 20px;
  width: 85%;
  align-items: center;
  color:#ffffff;
  justify-content: center;
}
.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.header-text > h2{
  font-size: 50px;
  font-family: 'Poppins';
  font-weight: 800;
}
@media screen and (max-width:1080px){
.hero{
  flex-direction: column;
}
.header-image{
  width:100%;
  height: 500px;
  object-fit: cover;
}
}
@media screen and (max-width:840px){
  div.header-text > h2{
    font-size: 25px;
  }
.header-text{
  justify-content: space-around;
}
}

header{
 
background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
}
div.companies{
  display: flex;
  height: 150px;
  width:  100vh;
  justify-content: space-around;
 align-items: center;
 position: relative;
 left:30px;
}
.company-items{
  font-size: 25px;
  color:#000000;
  font-family: 'Righteous';

}
.api{
  position: relative;
  left:70px;
}

div.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.blog-heading > h1 {
 position: relative;
 left: 70px;
 font-size: 55px;
 font-family: 'Righteous';
font-weight: 600;

}

.blog-cards{
  display: flex;
  justify-content: space-around;
   flex-wrap: wrap;
  margin-left: 40px;
}
.blog-card{
  display: flex;
  width:95vh;
  justify-content: center;

}
.blog-image > img{
  height: 400px;
   position: relative;
   background-color: #f8f8f8;
}
div.blog-author,div.blog-bottom{
  position: absolute;
  margin-top: 370px;
  margin-left: 200px; 
 
}

div.blog-author{
margin-left: 390px;
}
div.blog-bottom{
 
   height: 56px;
   background-color: #ffffff;
  border-radius: 30px;
  }

div.blog-content{
  width: 100%;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 0px 4px #dcdbdb;
 
}

div.blog-content > h6{
 color:#5a31fc;
 font-size: 20px;
 font-family: 'Poppins';
 font-weight: bolder;
}
div.blog-content > h3{
  font-size: 30px;
  font-family: 'Poppins';
 font-weight: bolder;
}
div.blog-content > small{
  position: relative;
  bottom:10px;
  font-size: 15px;
  font-weight: bolder;
}
div.faq-section{
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  height:400px;
  background-color: #e9edff;
  align-items: center;
}
div.faq-content{
  position: relative;
  left:60px;
  
}
div.faq-image > img{
  height:100%
}

.faq-content > h2{
  font-size: 45px;
   font-family: 'Righteous';
   font-weight: 900;
}
.faq-content :nth-child(2){
  font-weight: lighter;
  position: relative;
   top:20px;

}
.faq-content :nth-child(3){
  font-weight: 800;
  margin-top: 40px;
}

.faq-content > button{
  font-size: 15px;
   padding: 10px 20px;
   border-radius: 10px;
   border-color: #5a31fc;
   background-color: #5a31fc;
   color:#ffffff;
   position: relative;
   top:20px;
}

div.download-section{
  height:350px;
  display: flex;  
  justify-content: space-evenly; 
  padding-left: 200px;  

}
div.download-content{
  height:100px;
  position: relative;
  right:350px;
  top:150px;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: bolder;
  
}

.download-content > h1 > span{
  font-family: 'Poppins';
  font-weight: lighter;

}


div.download-email{
  position: relative;
  top:200px;
  height: 100px;
  
}

input{
  border-radius:30px;
  width:400px;
  height:50px;
  background-color: #e9edff;
  border-color: #ffffff;
  padding-left: 40px;
}
form{

  width:547px;
}

form>button{
  position: absolute;
  right: 15px;
  background-color: #5a31fc;
  border:#5a31fc;
  padding:16px 30px;
  border-radius:30px;
  width:170px;
  color:#ffffff;
}

.footer-section{
  background-color: #5a31fc;
  height:300px;
  display: flex; 
  justify-content: space-between;
  align-items: center;

}
div.footer-left> img{
  position: relative;
  right:40px;
}


ul.list{
  display: flex;
  justify-content: space-around;
  width:450px;
  list-style-type: none;
 
}

li.list-items::after{
 content: "|";
 color: #ffffff;
 margin-left: 10px;
}
.list-items{
  position: relative;
  color:#ffffffd3;
   right: 50px;
   font-family: 'Poppins';
   font-weight: lighter;
}


.footer-left{
  position: relative;
  left:80px;
}

.logos-list{
  display: flex;
  list-style-type: none;
  width:200px;
  justify-content:space-evenly;
  margin-left: 50px;
  margin-top: 20px;
  
}

.footer-logos{
  padding-right: 40px;

}
